{% load static %}
<!-- Footer-->
<footer>
  <div id="footer-above">
    <div>
       </div>
    <div>
      <h3>Institutions</h3>
      <ul style="padding-top: 10px; padding-bottom: 10px;">
        <li><a href="https://www.hesge.ch/heg/" target="_blank"><img style="width: 158px;height: 58px; margin-right: 40px;" src="{% static "img/accueil/heg.png" %}"></a></li>
        <li><a href="https://www.hes-so.ch/" target="_blank"><img style="width: 158px;height: 58px; margin-left: 10px;"  src="{% static "img/accueil/hesso.png" %}"></a></li>
        </ul>
    </div>
  </div>
  <div id="footer-below">uen ©
    <script>document.write(new Date().getFullYear())</script>. All Rights Reserved
  </div>
</footer>