{% extends "website/base.html" %}
{% load static %}
{% block head_ajout %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/website/gare.css' %}">
{% endblock %}
{% block content %}
    <div class="sectionTexteSupplementairetitre">
     <h4>Une vision métaphorique des quartiers</h4>
    </div>
    <div class="sectionTexteSupplementaire">
        <p>Le pattern choisi représente la vision métaphorique qui est faite du quartier. (...)</p>
    </div>
    <div class="sectiontitre bg-color-champel">
            <h2>Champel</h2>
    </div>
    <div class="container_patern">
        <div class="titre_patern_cha"><h2 class="text_margin">Analyse gare</h2></div>
        <p class="text_padding">La gare de Champel dessert ce quartier.</p>
        <p class="text_padding"><b>Orientation</b></p>
        <p class="text_padding">L'orientation au sortir de la gare est très bonne. L'utilisateur s'oriente facilement grâce à la bonne lisibilité de l’espace.</p>
        <p class="text_padding"><b>Circulation (Navigation)</b></p>
        <p class="text_padding">Les zones environnantes sont accessibles.</p>
        <p class="text_padding" ><b>Conception visuelle</b></p>
        <p class="text_padding">-</p>
        <div class="titre_patern_cha"><h2 class="text_margin">Patern: Grid of Equals</h2></div>
        <p class="text_padding"><b>Justification pattern</b></p>
        <p class="text_padding">Le pattern Grid of Equals, par sa symétrie, permet de créer un environnement apaisant. Les icônes attirent l'attention et aident l'utilisateur à se repérer.</p>
    </div>

    <div class="sectionButton bg-color-champel">
        <button onclick="location.href='{% url "champelM" %}'" class="boutonbasdepage" type="button"><i
                class="fas fa-map-marked-alt"></i></button>
        <button onclick="location.href='{% url "champelP" %}'" class="boutonbasdepage" type="button"><i
                class="fas fa-th-large"></i></button>
    </div>


{% endblock %}
{% block js %}

{% endblock %}