{% extends "website/base.html" %}
{% load static %}
{% block head_ajout %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/website/gare.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}
{% block content %}
    <div class="sectiontitre bg-color-chene">
            <h2>Chene-Bourg</h2>
    </div>
    <div class="div_eaux_tampon"></div>
    <div class="container_patern">
        <div class="titre_patern_che"><h2 class="text_margin">Description map</h2></div>
    </div>

    <div class="sectionButton bg-color-chene">
        <button onclick="location.href='{% url "cheneBourgM" %}'" class="boutonbasdepage" type="button"><i
                class="fas fa-map-marked-alt"></i></button>
        <button onclick="location.href='{% url "cheneBourgP" %}'" class="boutonbasdepage" type="button"><i
                class="fas fa-th-large"></i></button>
    </div>
{% endblock %}
{% block js %}

{% endblock %}