{% extends "website/base.html" %}
{% load static %}
{% block head_ajout %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/website/gare.css' %}">
{% endblock %}
{% block content %}
    <div class="sectiontitre bg-color-lancy">
            <h2>Pont-Rouge</h2>
    </div>
    <div class="container_patern">
        <div class="titre_patern_p"><h2 class="text_margin">Decription map</h2></div>

    </div>

     <div class="sectionButton bg-color-lancy">
        <button onclick="location.href='{% url "pontRougeM" %}'" class="boutonbasdepage" type="button"><i class="fas fa-map-marked-alt"></i></button>
        <button onclick="location.href='{% url "pontRougeP" %}'" class="boutonbasdepage" type="button"><i class="fas fa-th-large"></i></button>
    </div>

{% endblock %}
{% block js %}

{% endblock %}