{% extends "website/base.html" %}
{% block ajout_head %}
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/asuprimer.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% endblock %}
{% block nav_bar_color %}bg-color-carouge{% endblock %}
{% block content %}
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <button type="button" class="btn btn-secondary text-carouge btn-block btn-lg collapsed " data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                    CAROUGE <i class="fas fa-arrow-circle-down"></i>
                </button>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">


                    <div id="accordionCAROUGE">
                        <div class="card">
                            <div class="card-header" id="headingOneCAROUGE">
                                <button type="button" class="btn btn-secondary text-carouge btn-block btn-lg collapsed"
                                        data-toggle="collapse" data-target="#collapseOneCAROUGE"
                                        aria-expanded="false" aria-controls="collapseOneCAROUGE">
                                    BIBLIOTHEQUES <i class="fas fa-arrow-circle-down"></i>
                                </button>
                            </div>

                            <div id="collapseOneCAROUGE" class="collapse" aria-labelledby="headingOneCAROUGE"
                                 data-parent="#accordionCAROUGE">
                                <div class="card-body">
                                    Bibliothèque communale
                                </div>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header" id="headingTwoCAROUGE">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary text-carouge btn-block btn-lg collapsed"
                                            data-toggle="collapse" data-target="#collapseTwoCAROUGE"
                                            aria-expanded="false" aria-controls="collapseTwoCAROUGE">
                                        CO-WORKING <i class="fas fa-arrow-circle-down"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwoCAROUGE" class="collapse" aria-labelledby="headingTwoCAROUGE"
                                 data-parent="#accordionCAROUGE">
                                <div class="card-body">
                                    Voisins
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThreeCAROUGE">
                                <h5 class="mb-0">
                                    <button type="button" class="btn btn-secondary text-carouge btn-block btn-lg collapsed"
                                            data-toggle="collapse" data-target="#collapseThreeCAROUGE"
                                            aria-expanded="false" aria-controls="collapseThreeCAROUGE">
                                        MAISON DE QUARTIER <i class="fas fa-arrow-circle-down"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThreeCAROUGE" class="collapse" aria-labelledby="headingThreeCAROUGE"
                                 data-parent="#accordionCAROUGE">
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-secondary text-carouge btn-block btn-lg collapsed" data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        GRAND-LANCY <i class="fas fa-arrow-circle-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button type="button" class="btn btn-secondary text-carouge btn-block btn-lg collapsed" data-toggle="collapse"
                            data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                        PLAN-LES-OUATES <i class="fas fa-arrow-circle-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid bg-color-carouge">
        <div class="container text-center">
            <a role="button" href="{% url "carougeBachetMap" %}"
               class="btn btn-outline-dark btn-lg {% if "/carougeBachet/map" in request.path %}active {% else %}text-white{% endif %}"><i
                    class="fas fa-map-marked-alt"></i></a>
            <a role="button" href="{% url "carougeBachet" %}"
               class="btn btn-outline-dark btn-lg {% if "/carougeBachet/info" in request.path %}active  {% else %}text-white{% endif %}"><i
                    class="fas fa-th-large"></i></a>
        </div>
    </div>
{% endblock %}